@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    color: white;
    background-color:rgba(0,0,0,0.9);
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    height: 90vh;
    width: 50vw;
}
.card h2{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;   
}
.pad{
    padding-left: 25px;
}
.btn{
    width: 90px;
    margin: auto;
}
